.card:hover{
    transform:scale(1.04);
}
.coin-stats{
    justify-content:first baseline;
    align-items: baseline;
    gap:2em;

}
.coin-stats-value{
    font-size: 1.2rem;
    font-weight:600;
}
.cointgf{
    max-width: 500px;
}
.box-xonatiner{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:0em 2em;
    flex-wrap: wrap;
}
.coin-detail{
    background-color: #e8e7e7;
}